img {
    margin: 0 auto;
    max-width: auto;
    width: 100%;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 3 columnas máximo */
    gap: 20px; /* Espaciado entre elementos */
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    width: 100%;
    max-width: 1200px; /* Ajustar según necesidad */
    margin-left: auto;
    margin-right: auto;
}

.product-list div {
    border: 1px solid black;
}

.card {
    width: 300px;
    height: auto;
    margin: auto;
    text-decoration: none;
}


div .card :hover{
    background: #f0f0f0;
}